@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: 'Open_Sans';
  src: url(./assets/fonts/Open_Sans/OpenSans-VariableFont_wght.ttf) format("truetype");
}

:root {
  font-family: var(--font-body);
  color: var(--text);
  font-weight: var(--weight-regular);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text: #FEFCFE;
  --text-100: #E5E3E5;
  --text-200: #CBC9CB;
  --text-300: #B2B0B2;
  --text-400: #989698;
  --text-500: #7F7D7F;

  --background: #171914;
  --background-500: #8B8C89;
  --background-600: #747572;
  --background-700: #5D5E5A;
  --background-800: #454743;
  --background-900: #2E302B;

  --primary: #CBD0EC;
  --secondary: #4594BF;
  --accent: #A41313;

  --font-heading: 'Montserrat';
  --font-body: 'Open_Sans';

  --weight-thin: 100;
  --weight-extralight: 200;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-extrabold: 800;
  --weight-black: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}